@import url("style/header.css");
@import url("style/banner.css");

:root{
    --cor-de-fundo:#EBECEE;
    --branco:#ffffff;
    --laranja: #EB9B00;
    --azul-degrade: #1d3c8e;
    --fonte-principal:"Poppins";
}
body{
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}